body {background-color: darkblue;}
#resultado{
    height: 70px;
    width: 300px;
    background-color:blue;
    color: white;
    font-size: 50px;
    border-radius: 10px 30px 10px 30px;
}
#numero{
    background-color: lightblue;
    border-radius: 10px 10px 10px 10px;
    font-size: 50px;
    color: white;
    text-align: center;
 
    
}
input{height: 70px; width: 350px;}
h1{color: white; font-size: 70px;}
